body {
    background-color: rgb(174, 0, 0);
}
h2{
    color: white;
font-family: watch-mn, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25rem;
text-align: center;
margin-top: 10%;

 }
a {
    color: inherit ;
    text-decoration: none;
}

h2:hover {
    color: rgb(0, 0, 0);

}

 h1 {
    color: white;
    text-align: center;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.5rem;
    margin-top: 1%;
    
 }

 h1:hover {
    color: rgb(0, 0, 0);

}
h3 {
   color: white; 
   font-family: watch-mn, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25rem;
text-align: left;float:left;
margin-top: -79%;
margin-left: 8%;

}

h3:hover {
    color: rgb(0, 0, 0);
}

h4 {
    color: white;
    text-align: center;
    font-family: ocr-a-std, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.5rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -20%;
}

.dot {
    position: relative;
    top: -200px;
}

.dotblack {
    color: rgb(174, 0, 0);
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 0.6rem;
        line-height: 1.0rem;
        margin-top: 4%;
    }

    h2 {
        font-size: 9rem;
        margin-top: 70%;
    }

    .dot {
        top: -80px;
    }

    h4 {
        font-size: 0.6rem;
        line-height: 1.0rem;
        margin-top: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}



